<b>MySQL Connectivity in Python</b>

<b>Installing MySQL Module</b>

In [ ]:
!pip install MySQL

<b>Installing MySQL Connector</b>

In [3]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading https://files.pythonhosted.org/packages/32/92/aa9f928c09302be5897c8707264cb56ae2fad10425e37db04f2c4310781b/mysql_connector_python-8.0.21-cp37-cp37m-win_amd64.whl (809kB)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\tushar kathane\anaconda3\lib\site-packages (from mysql-connector-python) (3.12.1)
Requirement already satisfied: six>=1.9 in c:\users\tushar kathane\anaconda3\lib\site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.12.0)
Requirement already satisfied: setuptools in c:\users\tushar kathane\anaconda3\lib\site-packages (from protobuf>=3.0.0->mysql-connector-python) (41.0.1)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.21

<b>Importing MySQL Connecotor and establishing connection with mysql</b>

In [59]:
#Importing Mysql connector
import mysql.connector as mysql

In [3]:
db=mysql.connect(host="localhost",user="root",passwd="")

In [4]:
print(db)

<mysql.connector.connection.MySQLConnection object at 0x000000303E6B9978>

<b>Create and display Database</b>

In [5]:
cursor=db.cursor()
cursor.execute("create database Vehicle")

In [6]:
cursor.execute("show databases")

In [7]:
databases=cursor.fetchall()

In [8]:
print(databases)

[('information_schema',), ('imdb',), ('mysql',), ('performance_schema',), ('pharmacy',), ('sys',), ('tse',), ('vehicle',), ('wcdb',)]

In [9]:
for database in databases:
    print(database)

('information_schema',)
('imdb',)
('mysql',)
('performance_schema',)
('pharmacy',)
('sys',)
('tse',)
('vehicle',)
('wcdb',)

In [11]:
db=mysql.connect(host="localhost",user="root",passwd="",database="Vehicle")

In [12]:
cursor=db.cursor()

<b>Create and display Tables</b>

In [13]:
cursor.execute("create table Car(Brand varchar(25),Name varchar(20),price integer(10))")

In [14]:
cursor.execute("show tables")

In [15]:
tables=cursor.fetchall()

In [16]:
for table in tables:
    print(table)

('car',)

<b>Alter and display table</b>

In [17]:
cursor.execute("alter table car add(id int(10)not null auto_increment primary key)")

In [18]:
cursor.execute("desc car")

In [19]:
print(cursor.fetchall())

[('Brand', 'varchar(25)', 'YES', '', None, ''), ('Name', 'varchar(20)', 'YES', '', None, ''), ('price', 'int(10)', 'YES', '', None, ''), ('id', 'int(10)', 'NO', 'PRI', None, 'auto_increment')]

In [20]:
cursor.execute("alter table car drop id")
cursor.execute("desc car")
print(cursor.fetchall())

[('Brand', 'varchar(25)', 'YES', '', None, ''), ('Name', 'varchar(20)', 'YES', '', None, ''), ('price', 'int(10)', 'YES', '', None, '')]

In [21]:
cursor.execute("alter table car add column id int(10) not null auto_increment primary key first")
cursor.execute("desc car")
print(cursor.fetchall())

[('id', 'int(10)', 'NO', 'PRI', None, 'auto_increment'), ('Brand', 'varchar(25)', 'YES', '', None, ''), ('Name', 'varchar(20)', 'YES', '', None, ''), ('price', 'int(10)', 'YES', '', None, '')]

<b>Inserting single record in table</b>

In [25]:
query="insert into car(Brand,Name,price)values(%s,%s,%s)"
values=("Maruti","Alto",300000)
cursor.execute(query,values)
db.commit()
print(cursor.rowcount,"row inserted")

1 row inserted

<b>Inserting Multiple record in table</b>

In [27]:
values=[("Scoda","Fabia",1000000),("Tata","Safari",1200000),("Huindai","i20",900000),("Renault","Dustor",1500000)]
cursor.executemany(query,values)
db.commit()
print(cursor.rowcount,"rows inserted")

4 rows inserted

<b>Selecting records from table</b>

In [28]:
cursor.execute("select * from car")
records=cursor.fetchall()
for record in records:
    print(record)

(1, 'Maruti', 'Alto', 300000)
(2, 'Scoda', 'Fabia', 1000000)
(3, 'Tata', 'Safari', 1200000)
(4, 'Huindai', 'i20', 900000)
(5, 'Renault', 'Dustor', 1500000)

In [29]:
cursor.execute("select brand from car")
brands=cursor.fetchall()
for brand in brands:
    print(brand)

('Maruti',)
('Scoda',)
('Tata',)
('Huindai',)
('Renault',)

In [32]:
cursor.execute("select brand, name from car where price > 500000 and price<=1000000")
records=cursor.fetchall()
for record in records:
    print(record)

('Scoda', 'Fabia')
('Huindai', 'i20')

<b>Order by clause</b>

In [36]:
cursor.execute("select * from car order by brand")
records=cursor.fetchall()
for record in records:
    print(record)

(4, 'Huindai', 'i20', 900000)
(1, 'Maruti', 'Alto', 300000)
(5, 'Renault', 'Dustor', 1500000)
(2, 'Scoda', 'Fabia', 1000000)
(3, 'Tata', 'Safari', 1200000)

<b>Delete record from table</b>

In [38]:
cursor.execute("delete from car where id=5")
db.commit()
cursor.execute("select * from car")
records=cursor.fetchall()
for record in records:
    print(record)

(1, 'Maruti', 'Alto', 300000)
(2, 'Scoda', 'Fabia', 1000000)
(3, 'Tata', 'Safari', 1200000)
(4, 'Huindai', 'i20', 900000)

<b>Update record from table</b>

In [42]:
cursor.execute("update car set name='alto 800' where brand='maruti'")
db.commit()
cursor.execute("select * from car")
records=cursor.fetchall()
for record in records:
    print(record)

(1, 'Maruti', 'alto 800', 300000)
(2, 'Scoda', 'Fabia', 1000000)
(3, 'Tata', 'Safari', 1200000)
(4, 'Huindai', 'i20', 900000)

In [44]:
query=("insert into car (brand,name,price)values (%s,%s,%s)")
values=[("Maruti","Swift",1200000),("Maruti","Baleno",950000),("Maruti","WagonR",600000),("Maruti","Ecosport",800000)]
cursor.executemany(query,values)
print(cursor.rowcount,"record inserted")

4 record inserted

<b>Group by and having clause</b>

In [58]:
cursor.execute("select brand,avg(price)from car group by brand having avg(price)>800000")
records=cursor.fetchall()
for record in records:
    print(record)

('Huindai', Decimal('900000.0000'))
('Scoda', Decimal('1000000.0000'))
('Tata', Decimal('1200000.0000'))